---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.svelte";
import Background from "../components/Background.svelte";
---

<Layout title="The Mutawwir blog">
    <Hero client:load />
    <div id="sticky-limit">
        <Background client:load />
    </div>

    <style lang="scss"></style>
</Layout>

<style lang="scss">
    #sticky-limit {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -2;

        height: calc(100% + 600px);
        width: 100%;
    }
</style>
