---
import Layout from "../layouts/Layout.astro";
---

<Layout title="The Mutawwir blog">
    <h1>The Mutawwir Blog</h1>
</Layout>

<style lang="scss">
    h1 {
        font-family: Poppins, Tahoma, sans-serif;
        max-width: fit-content;
        margin-inline: auto;
        margin-top: 50px;
        font-size: 4rem;
        color: #111;
    }
</style>
