---
import Layout from "../layouts/Layout.astro";
---

<Layout title="The Mutawwir blog">
    <div id="hero">
        <section id="content">
            <h1>
                <div id="darken"></div>
                The <span class="highlight">Mutawwir</span> Blog
            </h1>
            <p>
                Read about coding, linux, softwares, TUI, CLI tools, Dev tools, IDE, frameworks, web development and
                much more.
            </p>
            <div id="action-menu">
                <a href="/blog/" data-title="Go to blog page">Read!</a>
                <a href="/about-me/" data-title="Go to about-me page">About me!</a>
            </div>
        </section>
    </div>
    <video id="background" autoplay="true" loop="true" muted src="/videos/hero-background.mp4"></video>

    <style lang="scss">
        #hero {
            height: calc(100vh - var(--navbar-height));

            #content {
                position: relative;

                display: flex;
                flex-direction: column;
                justify-content: center;

                text-align: center;
                width: min-content;
                height: calc(100vh - var(--navbar-height));
                margin-inline: auto;
                padding-bottom: 200px;

                h1 {
                    position: relative;

                    width: max-content;
                    margin-top: 80px;
                    margin-bottom: 20px;

                    font-family: Poppins, Tahoma, sans-serif;
                    font-size: 4rem;
                    color: var(--hero-high-contrast);

                    span.highlight {
                        color: var(--accent-color);
                    }

                    #darken {
                        position: absolute;
                        left: -10%;
                        top: -20px;
                        width: 120%;
                        height: 280px;
                        background-color: #000d;
                        border-radius: 25%;
                        filter: blur(150px);
                        /* backdrop-filter: blur(10px); */
                        /* background-color: #0005; */
                        /* box-shadow: 2px 5px 20px 2px #000e; */
                        z-index: -1;
                    }
                }

                p {
                    font-size: 1.2rem;
                    color: var(--hero-low-contrast);
                    justify-self: center;
                    width: 100%;
                }

                #action-menu {
                    margin-top: 20px;
                    a {
                        display: inline-block;

                        font-size: 1.8rem;
                        font-weight: 700;
                        text-decoration: none;

                        width: fit-content;
                        height: fit-content;

                        border-radius: 5px;

                        &[href="/blog/"] {
                            background-color: var(--accent-color);
                            color: var(--hero-high-contrast);
                            padding: 5px 10px;
                            margin-right: 20px;
                        }

                        &[href="/about-me/"] {
                            color: var(--accent-color);
                            border: 2px solid var(--accent-color);
                            padding: 3px 6px;
                        }
                    }
                }
            }
        }

        video#background {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -2;
            filter: brightness(60%);
        }
    </style>
</Layout>
