---
import Navbar from "../components/Navbar.svelte";
import GradientLink from "../components/GradientLink.svelte";
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Navbar client:load>
            <GradientLink client:load href="/">Home</GradientLink>
            <GradientLink client:load href="/blog/">Blog</GradientLink>
            <GradientLink client:load href="<about-me">About me</GradientLink>
            <GradientLink client:load href="/contact/">Contact me</GradientLink>
        </Navbar>
        <slot />
    </body>
</html>

<style is:global>
    /*@font-face {
        font-family: "Space-Grotesk";
        src:
            url("/fonts/SpaceGrotesk-Variable.woff2") format("woff2"),
            url("/fonts/SpaceGrotesk-Variable.woff") format("woff");
        font-weight: 300 700;
        font-style: normal;
        font-display: swap;
    }*/

    @font-face {
        font-family: "Space-Grotesk";
        src: url("/fonts/SpaceGrotesk-Light.ttf") format("Opentype");
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: "Space-Grotesk";
        src: url("/fonts/SpaceGrotesk-Regular.ttf") format("Opentype");
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: "Space-Grotesk";
        src: url("/fonts/SpaceGrotesk-Medium.ttf") format("Opentype");
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: "Space-Grotesk";
        src: url("/fonts/SpaceGrotesk-SemiBold.ttf") format("Opentype");
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
        font-family: "Space-Grotesk";
        src: url("/fonts/SpaceGrotesk-Bold.ttf") format("Opentype");
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: "Poppins";
        src:
            url("/fonts/Poppins-Bold.woff2") format("woff2"),
            url("/fonts/Poppins-Bold.woff") format("woff");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    :root {
        --navbar-height: 4.5rem;

        --paragraph-font: Space-Grotesk, Tahoma, sans-serif;
        --heading-font: Poppins, Tahoma, sans-serif;

        --color-background: #f0f0f0;
        --hero-high-contrast: #eee;
        --hero-medium-contrast: #ccc;
        --hero-low-contrast: #bbb;
        --hero-verylow-contrast: #777;
        --high-contrast: #222;
        --medium-contrast: #555;
        --accent-color: hsl(270, 80%, 60%);
    }

    html {
        font-family: var(--paragraph-font);
    }

    body {
        background-color: var(--color-background);
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        height: 500vh;
    }

    button {
        border: none;
        outline: none;
    }

    * {
        box-sizing: border-box;
    }

    *[data-title] {
        position: relative;
    }

    *[data-title]:hover::after {
        opacity: 1;
        visibility: visible;
        transition:
            opacity 0.3s,
            visibility 0s;
    }

    *[data-title]::after {
        content: attr(data-title);
        font-family: Space-Grotesk, sans-serif;
        padding-inline: 5px;
        padding-block: 3px;
        font-size: 1rem;
        position: absolute;
        top: calc(100% + 10px);
        left: -50%;
        opacity: 0;
        visibility: hidden;
        z-index: 99999999;
        white-space: nowrap;
        transition:
            opacity 0.3s,
            visibility 0s 0.3s;
        background-color: #caf;
        color: #111;
        border-radius: 5px;
        box-shadow: 2px 3px 5px 1px #0004;
    }
</style>
